body{margin-bottom: 50px;}


nav{
	margin: 0;
	padding: 0;

}

li{margin-right: 150px;
	list-style-type: none;

}

li a{
	display: block;
	color:#0a0a0a;
	padding: 14px 16px;
	text-decoration: none;
	float: right;
	font-family: 'Open Sans', sans-serif;
	font-weight:100;
	text-shadow: 2px 2px 4px #dfdcdc;
}

.logo{
	height:50px;
	float: left;
	margin-left: 150px;
}

#header{
	padding: 5px 0px;
}

.bckimg{
	background-image: url("background-layer.png");
    padding-top: 80px;
    height: 410px;
	background-size: 100% 100%;
    color: white;
    margin-top: 70px;
	text-align: center;
	position: relative;
}	

h2,h3 a{
	text-decoration:none;
	color: white;
}

h2,h3{
	text-decoration:none;
	font-family: 'Open Sans', sans-serif;
	font-weight:100;
	text-shadow: 2px 2px 4px #535252;
  }

p,h1{
	font-family: 'Open Sans', sans-serif;
	font-weight:100;
	text-shadow: 2px 2px 4px #dfdcdc;
	
}

#content{
	padding: 30px 20px;
	margin-top: 60px;
}

h1{
color: green;
text-align: center;
}

.abtsec1{
	padding: 5px;
	float: left;
}

.abtsec2{
	padding: 5px;
	float: right;
}

.caption {
    color: #000;
    text-align: left;
    margin-left: 60px;
    }

    img{
    	width: 80%;
    	height: 50px;

    }

    p{
    	color: grey;
    }

    .awardsec{
    	width:20%;
    	height: 100px;
    	display:inline-block;
    	text-align: center;
    	margin-left: 40px;
    }

    .awardsec h2{
    	margin-top: 0px;
    	font-size: 15px;
    	font-family: sans-serif;
    	padding-left: 25px;
    }

.abtsec1 img{
    height: 250px;

}

.abtsec2 img{
    height: 250px;

}
.awardsec img{
    height: 150px;
}

.details{
    float: right;
    width: 300px;
    margin-right: 100px;
    font-family: sans-serif;
    font-size: 15px;
}

i{
    font-size: 15px;
    font-family: sans-serif;
    color: grey;
}

p1{
    color: white;
    margin-left: 100px;
}

footer{
  	
  	bottom: 0;
  	width: 100%;
	font-size: 15px;
	color: white;
	height: 50px;
	background-color: #139139;
	text-decoration-color:#000000;
	margin-top: 100px;
	position:fixed;
    margin-bottom: 0px;}
    
span{
   float: right;
    margin-right: 50px;
}

.fa {
	padding: 5px;
	font-size: 30px;
	width: 15px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
  }
  
  .fa:hover {
	  opacity: 0.7;
  }
  